{% extends 'products/base.html' %}
{% block title %} Dashboard {% endblock %}

{% block content %}
{% include 'products/header.html' %}

<section class="page-section">
    <div class="container">
        <p class="text-center mt-0">Email</p>
        <hr class="divider my-4"/>
        <h2 class="text-center mt-0">
            {{ user.email }}
        </h2>

    </div>

    {#        <img src="data:image/png;base64,{{ user.profile.image}}" alt="Red dot" />#}

</section>

{#     #TODO: A supprimer #}
{#    <div class="container">#}
{#        <div class="row row-cols-3 products">#}
{#            {% for product in result %}#}
{#                <div class="product">#}
{#                    <a class="container_img_product" href="{% url "products" id_product=product.id %}">#}
{#                        <img class="img_product" src="{{ product.image_product }}">#}
{##}
{#                        <span class="nutri_grade nutri_grade_color_{{ product.nutriscore }}">#}
{#                                <img class=""#}
{#                                     src="../../static/product/img/nutriscore/nutriscore_grade_{{ product.nutriscore }}.png"#}
{#                                     alt=""/>#}
{#                            </span>#}
{#                    </a>#}
{#                    <a href="{% url "products" id_product=product.id %}">{{ product.name }}</a>#}
{#                </div>#}
{##}
{#            {% endfor %}#}
{#        </div>#}
{#    </div>#}




{% endblock %}