{% block header %}
    {% load static %}

<header class="masthead header_result sidebar">
    {% if initial_product.image_product %}
        <img class="img_header" src="{{ initial_product.image_product }}">
    {% else %}
        <img class="img_header" src="{% static 'product/img/olenka-kotyk-eqsEZNCm4-c-unsplash.jpg' %}">
    {% endif %}

    <div class="container h-100">
        <div class="row h-100 align-items-center justify-content-center text-center">

            <div class="col-lg-10">
                <h1 class="text-uppercase text-white font-weight-bold">
                    {% if initial_product %}
                        {{ initial_product.name }}
                    {% else %}
                        Aucun produit trouvé
                    {% endif %}
                </h1>
                <hr class="divider my-4"/>
            </div>
        </div>
    </div>
</header>

{% endblock %}