{% extends 'products/base.html' %}
{% block title %} Pur Beurre {% endblock %}
{% block content %}

    {% load static %}
    {% include 'products/header.html' %}
    <section class="page-section bg-primary" id="services">
        <div class="container">
            <h2 class="text-center mt-0">Colette et Remy</h2>
            <hr class="divider my-4"/>
            <p class="text-center mt-0">
                D’un père basque et d’une mère Ardenaise, Colette et Remy parcourt la France au grè des postes de leurs père Chef cuisinier.
                Le couple pose ensuite ses valises à Bordeaux en 1979. Ils reprennent un restaurant basque cours de l’Yser, «le Palet», près du marché des Capucins.
                En 2021, le couple décident de créer leurs propre plateforme "Pur Beurre".
            </p>
            <p class="text-center font-italic">NB: Si vous trouvez que cela resemble au parcours de Philippe Etchebest, c'est normal, ils sont parents !!</p>
            <div class="row">
                <div class="col-lg-6 col-md-6 text-center">
                    <div class="mt-5">
{#                        <i class="fas fa-4x fa-gem text-dark mb-4"></i>#}
{#                        <i class="fas fa-4x fa-female text-dark mb-4"></i>#}
                        <img class="avatar" src="{% static 'product/img/avatar_colette_1.png' %}">
                        <h3 class="h4 mb-2">Colette</h3>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 text-center">
                    <div class="mt-5">
{#                        <i class="fas fa-4x fa-laptop-code text-dark mb-4"></i>#}
{#                        <i class="fas fa-4x fa-male text-dark mb-4"></i>#}
                        <img class="avatar" src="{% static 'product/img/avatar_remy_1.png' %}">
                        <h3 class="h4 mb-2">Remy</h3>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Contact-->
    <section class="page-section" id="contact">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8 text-center">
                    <h2 class="mt-0">Contactez nous</h2>
                    <hr class="divider my-4"/>
                    <p class="text-muted mb-5">Vous pouvez nous contacter par mail ou par téléphone</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 ml-auto text-center mb-5 mb-lg-0">
                    <i class="fas fa-phone fa-3x mb-3 text-muted"></i>
                    <div>+33 1 23 45 67 89</div>
                </div>
                <div class="col-lg-4 mr-auto text-center">
                    <i class="fas fa-envelope fa-3x mb-3 text-muted"></i>
                    <!-- Make sure to change the email address in BOTH the anchor text and the link target below!-->
                    <a class="d-block" href="mailto:contact@yourwebsite.com">contact@purbeurre.fr</a>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
