{% extends 'products/base.html' %}
{% block title %} Mention Legal {% endblock %}

{% block content %}
    <header class="masthead sidebar">
    <div class="container h-100">
        <div class="row h-100 align-items-center justify-content-center text-center">
            <div class="col-lg-10">
                <h1 class="text-uppercase text-white font-weight-bold">Mention Legal</h1>
                <hr class="divider my-4"/>
            </div>
{#            <div class="col-lg-8 align-self-baseline">#}
{#                <p class="text-white-75 font-weight-light mb-5">Start Bootstrap can help you build better websites using#}
{#                    the Bootstrap framework! Just download a theme and start customizing, no strings attached!</p>#}
{#                <a class="btn btn-primary btn-xl js-scroll-trigger" href="#about">Find Out More</a>#}
{#            </div>#}
        </div>
    </div>
</header>

<div>

<section class="page-section" id="services">
    <div class="container">
        <h2 class="text-center mt-0">Projet Pur Beurre</h2>
        <hr class="divider my-4"/>

        <p> Le projet "pur beurre" a était développé dans le cadre de ma formation professionnelle sur
            <a href="https://openclassrooms.com" target="_blank">OpenClassrooms</a>.
        </p>
        <h4 class="text-center mt-0">Coordonnées</h4>
        <hr class="divider my-4"/>
        <p>Noms: Eddy Hubert</p>
        <p>mail: contact@eddy-hubert.fr</p>
        <p>site: <a href="https://eddy-hubert.fr" target="_blank">https://eddy-hubert.fr</a></p>
        <p>Thème utilisé: <a href="https://startbootstrap.com/theme/creative" target="_blank">creative</a></p>
    </div>
</section>

</div>
{#    <h1>Mention légale</h1>#}


{% endblock %}