{% extends 'products/base.html' %}
{% block title %} Mention Legal {% endblock %}

{% block content %}
{% include 'products/header.html' %}
<div>

<section class="page-section" id="services">
    <div class="container">
        <h2 class="text-center mt-0">Projet Pur Beurre</h2>
        <hr class="divider my-4"/>

        <p> Le projet "pur beurre" a était développé dans le cadre de ma formation professionnelle sur
            <a href="https://openclassrooms.com" target="_blank">OpenClassrooms</a>.
        </p>
        <h4 class="text-center mt-0">Coordonnées</h4>
        <hr class="divider my-4"/>
        <p>Noms: Eddy Hubert</p>
        <p>mail: contact@eddy-hubert.fr</p>
        <p>site: <a href="https://eddy-hubert.fr" target="_blank">https://eddy-hubert.fr</a></p>
        <p>Thème utilisé: <a href="https://startbootstrap.com/theme/creative" target="_blank">creative</a></p>
        <p>Lien & credit image <a href='https://fr.freepik.com/vecteurs/main' target="_blank">Main vecteur créé par ajipebriana - fr.freepik.com</a></p>
    </div>
</section>

</div>
{#    <h1>Mention légale</h1>#}


{% endblock %}