{% extends 'products/base.html' %}
{% block title %} Login {% endblock %}
{% block content %}

    {% load static %}
    <link href="{% static 'product/css/login_register.css' %}" rel="stylesheet"/>



    <div class="wrapper fadeInDown">

        <div id="formContent">
            <!-- Tabs Titles -->

            <!-- Icon -->
            {#            <div class="fadeIn first">#}
            {#                <i class="fas fa-user-plus"></i>#}
            {#            </div>#}

            <!-- Login Form -->
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <p>{{ form.username }}</p>
                <p>{{ form.first_name }}</p>
                <p>{{ form.last_name }}</p>
                <p>{{ form.email }}</p>
                <p>{{ form.image }}</p>
                <p>{{ form.password1 }}</p>
                <p>{{ form.password2 }}</p>
                <div>
                    {{ form.errors  }}
                    {{ info }}
                </div>
                <input type="submit" class="fadeIn fourth" value="Valider">
            </form>

            {#            <!-- Remind Passowrd -->#}
            {#            <div id="formFooter">#}
            {#                <a class="underlineHover" href="#">Forgot Password?</a>#}
            {#            </div>#}

        </div>
    </div>

{% endblock %}
