{% extends 'products/base.html' %}
{% block title %} Login {% endblock %}
{% block content %}

{% load static %}
<link href="{% static 'product/css/login_register.css' %}" rel="stylesheet"/>


<div class="wrapper fadeInDown">
    <div id="formContent">
        <!-- Tabs Titles -->

        <!-- Icon -->
        <div class="fadeIn first">
            <i class="fas fa-user"></i>
        </div>
        <hr class="divider my-4"/>

        <!-- Login Form -->
        <form method="post">
            {% csrf_token %}
            <p>Ancien mot de passe</p>
            {{ form.old_password }}
            <hr class="divider my-4"/>
            <p>Nouveau mot de passe</p>
            {{ form.new_password1 }}
            {{ form.new_password2 }}
            <div>
{#                {{ message_error }}#}
                {% for err in message_error %}
                    <p>{{ err }}</p>
                {% endfor %}
            </div>
            <hr class="divider my-4"/>
            <input id="submit_change_password" type="submit" value="Changer mot de passe">
        </form>

    </div>
</div>

{% endblock %}
