{% extends 'products/base.html' %}
{% block title %} Dashboard {% endblock %}

{% block content %}
{% include 'products/header.html' %}

{% if message_psw %}
    <div class="alert alert-info text-center" role="alert">
        {{ message_psw }}
    </div>
{% endif %}
<section class="page-section">
    <div class="container">
        <p class="text-center mt-0">Email</p>
        <hr class="divider my-4"/>
        <h2 class="text-center mt-0">
            {{ user.email }}
        </h2>
        <hr class="divider my-4"/>
        <div class="text-center">
            <a href="{% url 'changePassword' %}" type="button" class="btn btn-primary text-center">Modifier mot de passe</a>
        </div>
    </div>
</section>




{% endblock %}